<!--
	Launch file for testing foveated stereo matcher and foveated point cloud
	
	After launching this file, it is necessary to publish the
	acquisition command. This can be done as below:
		rostopic pub -1 acquire_images ug_stereomatcher/CamerasSync '{timeStamp: now, data: full}'
		
	SoCS, UoG. Gerardo Aragon-Camarasa. January 2015 
-->

<launch>

	<!-- Parameters -->
	<param name="foveated" value="1" />
	<param name="fovLevel" value="0" />
	<!-- Path where camera information is saved -->
	<param name="camera_info_url_left" value="$(find ug_stereomatcher)/calibrations/calL.xml" />
	<param name="camera_info_url_right" value="$(find ug_stereomatcher)/calibrations/calR.xml" />

	<!-- Image list file -->
	<param name="image_list" value="$(find ug_stereomatcher)/src/utils/input_images.xml" />

	<!-- Publish images -->
	<node pkg="ug_stereomatcher" type="UGpublish_images" name="UGpublish_images" output="screen">
	</node>

	<!-- Point cloud node -->
	<node pkg="ug_stereomatcher" type="UGpoint_cloud" name="UGpoint_cloud" output="screen">
	</node>

	<!-- GPU stereo matcher -->
	<node pkg="ug_stereomatcher" type="matcher.py" name="matcher_py" output="screen">
	</node>

</launch>

